<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.excerpt }}">
<meta property="og:image" content="{{ page.image }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@PixelHorror">
<meta property="twitter:image" content="{{ page.image }}">
<meta name="twitter:image:alt" content="{{ page.image_alt }}">
<meta name="description" content="{{ page.meta_description }}">
